#g_ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .t-heading{
    text-align: center;
    margin-top: 2%;
   color: #1805ab; 
  }
  .g-img{
    height: 300px;
    width: 600px;
  }
  #g_main{
    margin-bottom: 2%;
  }
  #g_li {
    padding: 0;
  }
  
  img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
  }
  
  #g_ul:is(:hover, :focus-within) img {
    opacity: calc(0.1 + (var(--active-lerp, 0) * 0.9));
    filter: grayscale(calc(1 - var(--active-lerp, 0)));
  }
  
  :root {
    --lerp-0: 1;
    --lerp-1: 0.5787037;
    --lerp-2: 0.2962963;
    --lerp-3: 0.125;
    --lerp-4: 0.037037;
    --lerp-5: 0.0046296;
    --lerp-6: 0;
  }
  
  a {
    outline-offset: 4px;
  }
  
  #g_li {
    flex: calc(0.4 + (var(--active-lerp, 0) * 1));
    transition: flex 0.2s ease;
    
  }
  
  #g_li:is(:hover, :focus-within) {
    --active-lerp: var(--lerp-0);
    z-index: 7;
  }
  #g_li:has( + li:is(:hover, :focus-within)),
  #g_li:is(:hover, :focus-within) + #g_li {
    --active-lerp: var(--lerp-1);
    z-index: 6;
  }
  #g_li:has( + #g_li + #g_li:is(:hover, :focus-within)),
  #g_li:is(:hover, :focus-within) + #g_li + #g_li {
    --active-lerp: var(--lerp-2);
    z-index: 5;
  }
  #g_li:has( + #g_li + #g_li + #g_li:is(:hover, :focus-within)),
  #g_li:is(:hover, :focus-within) + #g_li + #g_li + #g_li {
    --active-lerp: var(--lerp-3);
    z-index: 4;
  }
  #g_li:has( + #g_li + #g_li + #g_li + #g_li:is(:hover, :focus-within)),
  #g_li:is(:hover, :focus-within) + #g_li + #g_li + #g_li + #g_li {
    --active-lerp: var(--lerp-4);
    z-index: 3;
  }
  #g_li:has( #g_li + #g_li + #g_li + #g_li + #g_li:is(:hover, :focus-within)),
  #g_li:is(:hover, :focus-within) +#g_li + #g_li + #g_li + #g_li + #g_li {
    --active-lerp: var(--lerp-5);
    z-index: 2;
  }
 
 
 
  