.internsection1{
    background-color: #ffffff;
    background-size: cover;
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    margin-top: 2%;
    text-align: justify;
    
}

.content-header{
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    background-color: rgb(104, 104, 214);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 60px;
    padding-top: 15px;

    
}
.personaldetials{
    width: 50%;
    text-align: left;
    margin-top: 5%;
    margin-left: 15%;


}
#attendance_code{
    height: 300px;
    width: 60%;
    margin-left: 12%;
}
.personaldetials p{
    font-size: 20px;

}
.common_intern_content{
    height: 350px;
    width: 40%;
    margin-left: 10%;
    margin-top: 2%;
    padding-top: 2%;

}
.common_intern_content p{
    margin-left: 10%;
    text-align: justify;
  
    
}
.updatedetials,.almuni_details{
    width: 50%;
    text-align: left;
    margin-top: 3%;
    margin-left: 15%;
}
.updatedetials input,.almuni_details input{
    width: 50%;
    height: 30px;
    margin-top: 2%;
   
    
    
}
.updatedetials button, #alumni_btn,#certificate_btn{
    height: 30px;
    width: 30%;
    margin-top: 5%;
    margin-left: 10%;
    background-color: rgb(71, 71, 234);
    color: white;
    border: none;
    border-radius:10px;
}
#certificate_btn{
    height: 30px;
    width: 40%;
    margin-top: 10%;
    margin-left: 20%;
    background-color: rgb(71, 71, 234);
    color: white;
    border: none;
    border-radius:10px;
}
.interncontent{
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 15px;
    margin-right: 10px;
    font-size: 18px;
    height: 540px;
    border: 3px solid black;
    border-radius: 2%;
    width: 90%;
    background-image: url('../media/intern_back.png');
    background-size: cover;
  
    
}
.internabt-img button{
    width: 230px;
    height: 40px;
    margin-top:4%;
    margin-left: 2%;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    filter: drop-shadow(5px 5px 1px rgba(48, 39, 172, 0.25));
}


#active_user{
    font-size: 20px; 
}
.login-image{
  height: 650px;
  width: 55%;
  display: inline-block;
  float: left;
}
#login_icon{
    height: 650px;
    width: 85%;
    margin-left: 5%;
}
.intern-login-form{
    margin-top: 30%;
}

#message{
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.login-body{
    height: 650px;
    width: 40%;
    display: inline-block;
    float: right;
    text-align: left;
}
#submit_btn{
    background-color: rgb(40, 40, 147);
    color: white;
    border-radius: 10px;
    border: none;
}
.login-body input{
    height: 50px;
    margin-top: 2%;
    width: 50%;
    
}
#logo_image{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 65%;
    margin-top: 5%;
}
.headerlogo{
    float: right;
    width: 15%;
   
    
}
.headerinfo{
 width: 20%;
}
.headername{
    width: 70%;
   }


