<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>K-AKA/SaaS</title>
    <link rel="icon" type="image/png/"  href="../media/logo.png" >
    <link rel="stylesheet" href="../css/android.css">
    <script src="../js/androidmenu.js"></script>
</head>
<body>
    <header>
            <div id="mySidepanel" class="sidepanel">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <div><img src="../media/logo.jpeg" class="android_menu_logo" ></div> 
                <a href="../index.html"> Home</a>
                <a href="services.html">Services</a>
                <a href="../index.html#clients">Clients</a>
                <a href="../index.html#contact">Contact</a>
                <a href="gallery.html">Gallery</a>
                <a href="internship.html">Internship</a>
                <a href="https://www.k-akatechnology.in/apply">Apply Internship</a>
                <a href="https://www.google.com/maps/place/K-AKA+Technology+Services/@13.0175543,77.5297571,16.88z/data=!4m18!1m9!3m8!1s0x3bae1982022c82e1:0x432c8706e0a7f24!2sK-AKA+Technology+Services!8m2!3d13.0163371!4d77.5305386!9m1!1b1!16s%2Fg%2F11l466gntc!3m7!1s0x3bae1982022c82e1:0x432c8706e0a7f24!8m2!3d13.0163371!4d77.5305386!9m1!1b1!16s%2Fg%2F11l466gntc?entry=ttu">Submit Review</a>
                <a href="internlogin.html">Intern Login</a>
                
        </div>
        <button class="openbtn" id="androidbtn" onclick="openNav()">☰ </button>
        
        <nav class="navbar bg" id="header_color">
           <ul class="nav-list " id="header_color">
                <div class="logo"><img src="../media/logo.jpeg" alt="logo" class="nav-logo" ></div> 
                <li> <a href="../index.html"> Home</a></li>
               
                <li> <a href="../index.html#Services "> Services  <i class="fas fa-caret-down"></i></a>
                    <div class="dd">
                        <ul class="inner-nav-list">
                            <li><a href="saas.html">SaaS</a></li>
                            <li><a href="internship.html">Technical Training/Internship</a></li>
                            <li><a href="development.html">iPC</a></li>
                            <li><a href="development.html">KTC</a></li>
                        </ul>
                    </div>
                </li>
                <li> <a href="../index.html#products"> Products  <i class="fas fa-caret-down"></i> </a>
                    <div class="dd">
                        <ul>
                            <li><a href="https://atomsathena.com/student/">Athenna</a></li>
                            <li><a href="#">i&gt;&lt;AM</a></li>
                            <li><a href="#">TecHNoT</a></li>
                            
                        </ul>
                    </div>
                </li>

                <li> <a href="../index.html#clients">Clients <i class="fas fa-caret-down"></i> </a>
                    <div class="dd">
                        <ul>
                            <li><a href="https://www.atomm.in/">atomm</a></li>
                            <li><a href="https://www.skilledhire.in/">Skilledhire</a></li>
                            <li><a href="https://sssact.co.in/">sssact</a></li>
                            <li><a href="https://omkartechsolution.in/">OmkarSolutions</a></li>
                            <li><a href="https://gurutva-academy.in/">GurutvaAcademy</a></li>
                        </ul>
                    </div>
                </li>
                
                <li> <a href="../index.html#contact"> Contact</a></li>
                <li> <a href="../index.html#review"> Review</a></li>

                <li> <a href="gallery.html"> Gallery</a></li>
                <li> <a href="login"> Login <i class="fas fa-caret-down"></i></a>
                    <div class="dd">
                        <ul>
                            <li><a href="https://k-akatechnology.in/admin/">Admin Login</a></li>
                            <li><a href="development.html">Employee Login</a></li>
                            <li><a href="internlogin.html">Intern Login</a></li>
                            
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="insta">
                <li> <a href="https://www.instagram.com/kakatechnology/" target="_blank">
                    <img src="instagram-icon.png" alt="Instagram Icon" class="icon-image">
                </a></li>
                <li> <a href="https://www.linkedin.com/company/k-aka-technology-services/" target="_blank">
                    <img src="linkedin.png" alt="linkedin Icon" class="linkedin-icon"></a></li>
                <li> <a href="https://www.facebook.com/kakaTechnologyService" target="_blank"> <i
                            class="fa-brands fa-facebook-f"></i></a></li>
                <li> <a href="https://www.bing.com/maps?mepi=127%7EDirections%7EUnknown%7EDirection_Button&ty=0&rtp=pos.13.023292541503906_77.5858154296875__K-AKA+Technology+Services__e_%7E&mode=d&v=2&sV=1&cp=13.023286%7E77.585792&lvl=14.5"
                        target="_blank"> 
                        <img src="map-icon.png" alt="Map Icon" class="map-image"></a></li>
            </div>
        </nav> 
    </header>

    <hero>
        <div class="section1">

            <div class="abt-img">
                <img src="../media/saas.png" width="350px" class="img_main">
            </div>
           
            <div class="content">
                <h1>K-AKA TECHNOLOGY</h1><br>
                <p> is a fast growing software company, Bangalore started in the year 2019 to provide the best services to the users need's. It is a (SaaS) Software as a service company, currently growing its network in the Bangalore, New-Delhi, etc.</p>
            </div>

        </div>

    </hero>

    <footer>
        <hr>
         <div class="footpanel">
    
            <div class="service">
                <ul>    
                    <li> <h3>Services</h3></li>
                    <li> <a href="development.html"> SaaS</a></li>
                    <li> <a href="internship.html"> Technical Internship</a></li>
                    <li> <a href="development.html"> Sofware Development</a></li>
                    <li> <a href="development.html"> KTC</a></li>
        
                </ul>   
            </div>
           
            <div class="Policy">
                <ul>
                    <li> <h3>Policies</h3></li>
                    <li> <a href="privacypolicy.html">Privacy Policy</a></li>
                    <li> <a href="T&C.html">Terms And Conditions  </a></li>
                    <li> <a href="refund.html">Refund Policy </a></li>
                </ul>
            </div>
    
        <div class="product">
            <ul>  
                <li> <h3>Products</h3></li>
                <li> <a href="https://atomsathena.com/student/"> Athena</a></li>
                <li> <a href="development.html"> iXAM</a></li>
                <li> <a href="development.html"> TechNot</a></li>
            </ul>
        </div>
            <div class="ReachUs">
                <h3>Reach Us</h3>
                <ul>
                    <li>Mail To:  admin@k-akatechnology.in</li>
                    <li>Call/WhatsApp Us:    9560912748</li>
                    <li>Address: #10,6th cross,3rd Block,Nandini Layout</li>
                </ul>
            </div>
            
         </div>
         <div class="second">
            <ul>
                <li> <a href="https://www.instagram.com/kakatechnology/" target="_blank">
                        <img src="instagram-icon.png" alt="Instagram Icon" class="icon-image">
                    </a></li>
            </ul>
            <ul>
                <li> <a href="https://www.linkedin.com/company/k-aka-technology-services/" target="_blank">
                        <img src="linkedin.png" alt="linkedin Icon" class="linkedin-icon1">
                    </a></li>
            </ul>
            <ul>
                <li> <a href="https://www.google.com/maps/dir/12.9946515,77.4590682/k-aka+technology+services+6th+main+road+dr+puneeth+rajkumar+memorial+3rd+block+jenakal+siddeswara+nagar+nandini+layout+bengaluru+karnataka/@13.0007476,77.4101989,12z/data=!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3bae1982022c82e1:0x432c8706e0a7f24!2m2!1d77.5305386!2d13.0163371?entry=ttu"
                        target="_blank"> <img src="map-icon.png" alt="Map Icon" class="map-icon1"> </a></li>
            </ul>
            <ul>
                <li> <a href="https://www.facebook.com/kakaTechnologyService" target="_blank">
                        <i class="fa-brands fa-facebook-f"></i> </a></li>
            </ul>
        </div>
        
         <div class="third">
            <p>Copyright@2024 released version:V1</p>
         </div>
    </footer>
        

</body>
</html>